{% extends 'base.html' %}
{% block main %}
    {% if user.is_staff %}
        {% if message %}
            <p class="alert alert-success">
                <strong>{{ message }}</strong>
            </p>
        {% endif %}
        <div class="card mb-3">
        <div class="card-body">
        <form action="../post_person/" method="post">
            {% csrf_token %}
            <h5>Add:</h5>
            <div class="mb-3">
                <input class="form-control"
                       placeholder="Input name"
                       name="person"
                       required/>
            </div>
            <div class="card mb-3">
                <div class="mb-3">
                    <input class="form-control"
                           placeholder="Input telephone and address"
                           name="Address"
                           required/>
                </div>

            </div>
            </div>
            <div class="mb-3">
                <button class="btn btn-success">
                    Save
                </button>
                <a href=".." class="btn btn-danger">Cancel</a>
            </div>
        </form>
        </div>
        </div>
        <div class="card mb-3">
        <div class="card-body">
        <h4 class="card-title">Persons</h4>
        {% if latest_person %}
            <ul>
                {% for person in latest_person %}
                    <li>
                        <a href="/persons/{{ person.id }}/">
                            {{ person.person_text }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No persons are available right now.</p>
        {% endif %}
        </div>
        </div>

     {% else %}
        <h4>Access denied.</h4>
    {% endif %}
{% endblock %}
